<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MotsCroises</title>
    <link rel = stylesheet href="../styles/mtsCrsStyle.css">
    <script type="module" src="../controller/games/motsCroises/motsCroises.js"></script>
</head>
<body id="body">
    <div class="modal">
        <div class="contenuModal">
            <button class="button" id="rejouer"> Rejouer </button>
            <div id="imageModal">
                <img src="../assets/mc_victoire.png" id="">
            </div>
            <div id="footerModal"><img src="../assets/homePageIcon.png" id="homePageImage"></div>
        </div>
    </div>
    <p id="title"></p>
    <div id="divButtons">
        <button class="button" id="simple">Simple</button>
        <button class="button" id="moyen">Moyen</button>
        <button class="button" id="difficile">Difficile</button>
    </div>
    <div id="game">
        <button class="button" id="accueil">Accueil</button>
        <div id="grille"></div>
        <div id="text">
            <div>
                <input id="input" placeholder="Votre réponse">
                <button class="button" id="button">Envoyer</button>
            </div>
            <div id="def"></div>
        </div>

    </div>
</body>
</html>