<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trophées</title>
    <link rel = stylesheet href="../styles/trophees.css">
</head>
<body>
<div class="mainDiv">
    <div class="case userDiv">
        <div class="title"> Stats Puissance 4 </div>
        <div class="logoDIv">
            <img src="../assets/avatar.png" class="avatarImg">
        </div>
        <div class = "trophees">
            <div class="detail"> Nombre de victoires : </div>
            <div class="detail"> Nombre de défaites : </div>
        </div>

    </div>
    <div class="case userDiv top">
        <div class="title"> Stats Mots Croisés </div>
        <div class = "trophees">
            <div class="detail"> Difficulté Simple : </div>
            <div class="detail"> Difficulté Moyenne : </div>
            <div class="detail"> Difficulté Dur : </div>
        </div>

    </div>
    <img class="button top" src="../assets/homePageIcon.png"></img>
</div>


</body>
<script src = "../controller/trophees.js"></script>
</html>